.wrapper{
  width:100%;
  height:auto;
  border:1px solid #fff !important;
}

.banner{
  width:100%;
  height:auto;
  border:1px solid lightgray !important;
  background-color:lightgreen !important;
}

button{
  border:1px solid #fff !important;
  background-color:#fff !important;
}

img{
 margin-left:40%;
}

.footer{
  height:auto;
  border:1px solid black !important;
  background-color:black !important;
}

@media(max-width: 768px){
  img{
    width:30% !important;
    margin-left:33% !important;
  }
}